body{
    box-sizing: border-box;
    position: relative;
    width: 1600px;
    height: 1200px;
    background: #FFFFFF;
    margin: 0;
    font-family:'Source Sans Pro', sans-serif;;
}

header{
    width: 1440px;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-between;
    background: #FCFCFF;
}

.header-icons{
    display: flex;
    align-items: center;
    width: 284px;
    height: 54px;
}

header img{
    width: 140px;
    height: 40px;
    margin-left: 15px;
}

.header-ul{
    list-style: none;
    display: flex;
}
.header-icons img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.header-icons button{
    padding: 15px 30px 15px 30px;
    background: #202142;
    border-radius: 10px;
    border: 0px;
    color: white;
}

.header-li{
    margin-left: 25px;
}

.settings{
    color: #202142;
    font-size: 30px;
    margin-left: 216px;
    margin-top: 90px;
}

.body-list{
    list-style: none;
    margin-left: 201px;
    margin-top: 40px;
}

.list-date{
    margin-top: 15px;
}

.line{
    width: 1px;
    height: 334px;
    background: #EFEFFF;
    left: 470px;
    top: 210px;
    margin-left: 102px;
}

.cardsandnot{
    display: flex;
}

.sett-mail{
    font-size: 24px;
    margin-left: 86px;
}

.sett-mail div{
    margin-top: 40px;
}

.buttons{
    margin-left: 553px;
    margin-top: 45px;
}

.save{
    background: #202142;
    border-radius: 10px;
    color: white;
    width: 174px;
    height: 54px;
    font-size: 16px;
    margin-right: 15px;
}

.back{
    border-radius: 10px;
    width: 174px;
    height: 54px;
    font-size: 16px;
    border: 0;
}

input[type=checkbox]{
	width: 0;

}

.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .toggle {
	background: #bada55;
}

input:checked + .toggle:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.toggle:active:after {
	width: 130px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.id{
    display: flex;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }




  .new {
    padding: 50px;
  }


  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .switch {
    position: relative;
    cursor: pointer;
  }

  .switch:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }

  input:checked + .switch:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
